<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap@5.0.2/dist/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="container">
    <header>
        <h1><%= title %></h1>
    </header>
    <div role="main">
        <p class="h6"><%- content %></p>
        <form action="/hello/post" method="POST">
            <div class="form_group">
                <label for="msg">Message:</label>
                <input type="text" name="message" id="msg" class="form_control">
            </div>
            <input type="submit" value="é€ä¿¡ã™ã‚‹" class="btn btn_primary">
        </form>
    </div>
</body>
</html>